@using HaiwellFuture.Services;

@model HashSet<IpRecord>
@{
    ViewData["Title"] = "Ip";
}

<h2>访问IP</h2>
<table border="1" class="table table-striped">
    <thead>
        <tr>
            <td>IP地址</td>
            <td>最后访问时间</td>
            <td>访问次数</td>
            <td>最后访问UserAgent</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach(IpRecord ip in this.Model)
        {
            <tr>
                <td>@ip.Ip</td>
                <td>@ip.DateTime</td>
                <td>@ip.Count</td>
                <td>@ip.UserAgent</td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="Delete">
                        <input type="hidden" value="@ip.Id" name="id" />
                        <input type="submit" value="删除" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


