@using HaiwellFuture.Services
@model HaiwellFuture.ViewModels.IpViewModel
@{
    ViewData["Title"] = "Ip";
}
<script src="~/js/echarts.min.js"></script>
<h2>访问IP</h2>
<table border="1" class="table table-striped">
    <thead>
        <tr>
            <td>IP地址</td>
            <td>最后访问时间</td>
            <td>访问次数</td>
            <td>最后访问UserAgent</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (IpRecord ip in this.Model.HashIp)
        {
            <tr>
                <td>@ip.Ip</td>
                <td>@ip.DateTime</td>
                <td>@ip.Count</td>
                <td>@ip.UserAgent</td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="Delete">
                        <input type="hidden" value="@ip.Id" name="id" />
                        <input type="submit" class="btn btn-primary" value="删除" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '访问IP'
            },
            tooltip: {},
            legend: {
                data:['IP']
            },
            xAxis: {
                data: @this.Html.Raw(this.Model.xAxis)
            },
            yAxis: {},
            series: [{
                name: '访问次数',
                type: 'bar',
                data: @this.Html.Raw(this.Model.series)
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>

