@model List<HaiwellFuture.ViewModels.HMISearchViewModel>
@{ 
    this.ViewBag.Title = "在线HMI";
}
<div style="text-align:center">
    <a href="#">当前在线：<span class="badge">@this.Model.Count</span></a>
</div>
<hr />
<table border="1" class="table table-striped">
    <thead>
        <tr>
            <td>IP地址</td>
            <td>设备名称</td>
            <td>PN码</td>
            <td>版本</td>
            <td>工程名称</td>
        </tr>
    </thead>
    <tbody>
        @foreach(HMISearchViewModel item in this.Model)
        {
            <tr>
                <td>@item.ip</td>
                <td>@item.hostname</td>
                <td>@item.pncode</td>
                <td>@item.versoft</td>
                <td>@item.projectname</td>
            </tr>
        }
    </tbody>
</table>